:root {
    --orange: #d87d4a;
    --black: #101010;
    --gray: #f1f1f1;
    --gray-light: #fafafa;
    --orange-hover: #fbaf85;
    --thite: #ffffff;
}
@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Bold.woff2") format("woff2"),
        url("../fonts/Manrope-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-ExtraBold.woff2") format("woff2"),
        url("../fonts/Manrope-ExtraBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-ExtraLight.woff2") format("woff2"),
        url("../fonts/Manrope-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Light.woff2") format("woff2"),
        url("../fonts/Manrope-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Medium.woff2") format("woff2"),
        url("../fonts/Manrope-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Regular.woff2") format("woff2"),
        url("../fonts/Manrope-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-SemiBold.woff2") format("woff2"),
        url("../fonts/Manrope-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Manrope", "Arial", sans-serif;
    margin: 0;
}
main {
    flex-grow: 1;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: var(--black);
    padding: 35px 0;
}
.header__logo {
    width: 143px;
    height: 25px;
}

.header__list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 36px;
    margin: 0;
    color: #f1f1f1;
}
.header__link {
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
}
.header__link:hover {
    text-decoration: underline;
}
.header__shopping {
    width: 24px;
    height: 20px;
    transition: transform 0.3s ease;
}
.header__shopping:hover {
    opacity: 0.6;
    transform: scale(1.2);
}
.footer {
    border-top: 2px solid var(--black);
    background-color: var(--black);
    height: 150px;
    padding: 50px 20px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
}

.footer_text {
    color: #f1f1f1;
    margin-bottom: 10px;
}
.footer__content {
    max-width: 1200px;
    margin: 0 auto;
    /* display: flex;
    justify-content: space-between; */
    width: 100%;
}
.text {
    color: #ffffff;
    opacity: 50%;
}

.top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.icon__text {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.icon__text > div {
    max-width: 50%;
    /* background-color: red; */
    width: fit-content;
}


.icon__text .social-icons {
    display: flex;
    gap: 20px;

}

.left{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 56px;

    color: white;
    opacity: 0.5;
}